<!DOCTYPE html>
<html>
<head>
    <title>Solicitar Auditoría</title>
</head>
<body>
    <h1>Solicitar Auditoría</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.paciente.label }} {{ form.paciente }}
        </div>
        <div>
            {{ form.cedula.label }} {{ form.cedula }}
        </div>
        <div>
            {{ form.compania.label }} {{ form.compania }}
        </div>
        <div>
            {{ form.examenes.label }} {{ form.examenes(rows=3) }}
        </div>
        <div>
            {{ form.diagnosticos.label }} {{ form.diagnosticos(rows=3, placeholder="Ejemplo:\nE11 - Diabetes mellitus tipo 2\nZ490 - Atención a un injerto renal") }}
        </div>
        <div>
            {{ form.centro_medico.label }} {{ form.centro_medico }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
    <a href="{{ url_for('historial') }}">Volver al Historial</a>
</body>
</html>